.env
seraph_vars.py
data/csv/*
data/images/*
data/json/*
ticker-data/*
seraph_pid.txt
selected_token.txt
modules/__pycache__/*
modules/financial/dev/__pycache__/*
__pycache__/*
modules/trash/*
stripe/local-macos/*
stripe/server/node_modules/*
stripe/server/package_lock.json
/.plotly/.credentials
.history
.code
.vscode
.jpynb_checkpoints
/examples/.jpynb_checkpoints
.ui/*
#users.txt